/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
	h1.welcome {
	  color:blue;
	  justify-content: left;
     margin-top: 5px;
	}
	body {
		color: black;
		}
	}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
	h1.welcome {
		color:rgb(23, 127, 92)
	}
	body {
		color: black;
	}
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
	h1.welcome {
		color: rgb(211, 63, 63)
	}
	 body {
		color: rgb(89, 89, 89)
	 }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  h1.welcome { 
	color:cadetblue
	}
}


/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
	h1.welcome {
		color: rgb(233, 227, 227);
		font-size: 45px;
	}
}

